* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    --spacing: 0.75rem;
  }
  
  body {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;

    
    background: $blue-medium;
    overflow: hidden;
  }

  button,
  input[type="button"] {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: .7em 2em;
    background-color: $blue-menu;
    color: white;
    border: none;
    outline: none; 
    cursor: pointer;
  }

  input[type="color"]{
    padding: 0;
  }

  select {
    display: block;
  }

  ul {
    list-style: none;
  }

  th, td {
    padding-left: 15px;
    text-align: left;
  }