.root {
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: min-content 1fr;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.register-page,
.login-page {
    padding: 1em;
    overflow: scroll;
}

.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
}

// --------------------- Login styles --------------------- //

.form-image {
    width: 150px;
    height: 100px;
    margin-top: 200px;
    margin-bottom: 0;
}

.mail__form,
.login__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

[class*="mail__"],
[class*="login__"]{
    margin-bottom: .7em;
}

.form-image {
    margin-bottom: 0;
    margin: 2em;
}

.mail__input,
.mail__button,
.login__input,
.login__button {
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 1em;
    padding-right: 1em;
}

.login__redirect {
    display: flex;
    justify-content: center;
}

// -------------------- Admin pages ------------------------ //@at-root

.admin__modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    padding: 5rem;
}

.admin__form {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.admin__form-input {
    color: white;
}

.admin__users-header,
.admin__users-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1vmin;
}

// ------------------- Menu styles ----------------------- //

.menu {
    width: min-content;
    height: 100vh;
    z-index: var(--z-menu);
    // display: none;

    // @media screen and (min-width: map-get($breakpoints , medium)){
    //     display: block;
    // }

    // @media screen and (orientation: "portrait"){
    //     display: none;
    // }
}

[class*="menu__icon"]{
    width: 15px;
    height: 15px;

    @media screen and (min-height: 700px){
        width: 30px;
        height: 30px;
    }
}

.menu__drop-down {
    height: 100vh;
    @media screen and (min-width: map-get($breakpoints , medium)){
        display: none;
    }
}

.menu__list {
    display: grid;
    grid-template-columns: 30px 30px;
    grid-auto-rows: 30px;
    height: 100vh;
    
    @media screen and (min-height: 400px){
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.menu__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30px;
    height: 30px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    position: relative;
    cursor: pointer;
    z-index: 2;

    @media screen and (min-height: 650px){
        padding-top: 1em;
        padding-bottom: 1em;
        width: auto;
        height: auto;
    }
}

.menu-admin__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-admin__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    padding: .5em;
}

// @media screen and (min-width: map-get($breakpoints: medium)){

// }

/* Hide the tooltip content by default */
[data-tooltip-menu]:before,
[data-tooltip-menu]:after {
  visibility: hidden;
  //-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  //filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip-menu]:before {
  position: absolute;
  bottom: 20px;
  left: 150px;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: $blue-menu;
  color: #fff;
  content: attr(data-tooltip-menu);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  z-index: 1000;
}

@media screen and (min-height: 700px){
    /* Show tooltip content on hover */
    [data-tooltip-menu]:hover:before,
    [data-tooltip-menu]:hover:after {
      visibility: visible;
      filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      //filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
    }
}

//**********

[data-tooltip-submenu]:before,
[data-tooltip-submenu]:after {
  visibility: hidden;
  //-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  //filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip-submenu]:before {
  position: absolute;
  bottom: 100px;
  right: 5px;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: $blue-menu;
  color: #fff;
  content: attr(data-tooltip-submenu);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  z-index: 1000;
}

@media screen and (min-height: 700px){
    /* Show tooltip content on hover */
    [data-tooltip-submenu]:hover:before,
    [data-tooltip-submenu]:hover:after {
      visibility: visible;
      filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      //filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
    }
}

// ----------------------- Create strategy modal --------------- //@at-root

.create-strategy__new-folder-button {
    margin-bottom: 1em !important;
    display: block !important;
}

.create-strategy__new-folder-input {
    margin-bottom: 1em !important;
}

// ---------------------- Hidden menu styles ----------------- //
.hidden-menu__container {
    z-index: var(--z-menu);
    display: flex;
    transform: scale(.5);
    transform-origin: right bottom;
    
    @media screen and (min-width: map-get($breakpoints, medium)){
        transform: scale(.9);

    }
}

.hidden-menu__container {
    position: absolute;
    bottom: 0;
    right: 0;
}

.hidden-menu__logo-image {
    height: 60px;
    padding-right: 1em;
    display: none;

    @media screen and (min-width: map-get($breakpoints, medium)){
        display: block;
    }
}

.hidden-menu {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform width 1s;
    width: 0;
}

.hidden-menu__list {
    display: flex;
    list-style: none;
}

.hidden-menu__item,
.hidden-menu__button {
    padding: 1em;
}

.hidden-menu__item {
    padding-left: 2em;
    padding-right: 2em;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

.hidden-menu__button::after {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    width: 1px;
    height: 100%;
}

// ------------------------- Strategy modal style ------------------------------

.strategy-modal {
    position: absolute;
    z-index: var(--z-modal);
}

// ------------------------ Canvas styles ---------------- //

// canvas {
//     @media screen and (orientation: "portrait"){
//         transform-origin: center !important;
//         transform: rotate(90deg) !important;
//     }
// }

// --------------------- Panels ------------------- //

.menu-panel,
.video-panel,
.strategy-panel,
.draw-panel,
.players-panel,
.send-panel,
.objects-panel,
.mail-panel,
.config-panel,
.user-panel {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 2em;
    padding-bottom: 4em; 
    height: 100vh;
    overflow-y: scroll;
    z-index: var(--z-initial);
}

.video-panel,
.strategy-panel,
.draw-panel,
.players-panel,
.send-panel,
.objects-panel {
    width: 250px;
    left: -250px;
    transition: left 1s;

    @media screen and (min-width: map-get($breakpoints, small)){
        width: 500px;
        left: -500px;
    }
}

.mail-panel,
.config-panel,
.user-panel {
    right: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 1s;
    width: 250px;
    @media screen and (min-width: map-get($breakpoints, small)){
        width: 600px;
    }
}

.banner-panel__container {
    padding: 0.7em;
    padding-top: 1.5em;
    width: 200px;
}

.banner-panel {
    margin-top: 1em;
    width: 90%;
    align-self: flex-end;
    padding-bottom: 4em;
}

// ---------------------- Menu panel -------------------------

.menu-panel__list {
    // display: flex;
    list-style: none;
}

.menu-panel__item {
    padding-top: .5em;
    padding-bottom: .5em;
}

// ----------------- Draw panel ----------------------- //

.draw-panel {
    display: grid;
    grid-template-rows: repeat(4, min-content);
    gap: 1em;
}

.draw-panel__exit-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 50px;
    padding: 1em;
}

.draw-panel__exit-item {
    width: 50px;
    height: 50px;
}

.draw-panel__list {
    display: flex;
    flex-direction: column;
}

.draw-panel__item {
    position: relative;
    display: flex;
    margin: .1em;
    padding: .1em;
}

[class*="draw-panel__item-span"] {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.strategy-panel__folder {
    display: grid;
    grid-template-columns: 1fr 90px 90px;
    align-items: center;

    & button {
        margin-top: .2em;
        margin-bottom: .2em;
    }
}

.strategy-panel__folder-name {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 5px;
        left: -14px;
        width: 10px;
        height: 10px;
    }
}

.strategy-panel__item {
    position: relative;
}

[class*="strategy-panel__item-button"]{
    margin: 1em;
    padding: 10px;

    &::before {
        display: block;
        width: 30px;
        height: 30px;
    }
}

.strategy-panel__item::after,
.draw-panel__item::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 1px;
}

.draw-panel__color-selector-list {
    display: flex;
    justify-content: space-evenly;
}

.draw-panel__color-selector-title {
    margin-bottom: 1em;
}

[class*="draw-panel__color-selector-option"]{
    width: 15px;
    height: 15px;
}

.draw-panel__banner {
    width: 95%;
    height: 300px;
}

// --------------- Strategy panel -------------------------
.strategy-panel__folder-expand {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.strategy-panel__item-link {
    display: flex;
    justify-content: space-between;
    padding: .3em;
    width: 70%;
}

.strategy-panel__item {
    display: flex;
    justify-content: space-between;
    gap: 1vmin;
}


.strategy-panel__config-modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: var(--z-modal);
}

.strategy-panel__exit-container {
    position: absolute;
    top: 0;
    right: 0;
}

.strategy-panel__config-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}



// -------------- Players panel ------------------- //@at-root

.players-panel__subtitle {
    margin-bottom: 1em;
}

.players-panel__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 40px;
    gap: 10px;
    
    @media screen and (min-width: map-get($breakpoints, medium)) {
        grid-auto-rows: 90px;
    }
}

[class*="players-panel__item-blue"],
[class*="players-panel__item-red"]{
    width: 35px;
    height: 35px;

    @media screen and (min-width: map-get($breakpoints, medium)){
        width: 70px;
        height: 70px;
    }
}

// --------------------- Objects panel ------------------- //

.objects-panel__subtitle {
    margin-bottom: 1em;
}

[class*="object-panel__item-image"]{
    width: 35px;
    height: 35px;

    @media screen and (min-width: map-get($breakpoints, medium)){
        width: 70px;
        height: 70px;
    }
}

.objects-panel__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 40px;
    gap: 10px;
    padding-bottom: 3em;
    
    @media screen and (min-width: map-get($breakpoints, medium)){
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 90px;
    }
}

.object-panel__item {
    padding: 0.5em;
}

// ---------------- Config panel ---------------------- //@at-root

.config-panel__my-team {
    display: flex;
}

.config-panel__my-team-span {
    width: 300px;
}

.config-panel__buttons-container {
    position: relative;
}

.config-panel__button-1,
.config-panel__button-2 {
    position: absolute;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 4em;
    padding-right: 4em;
}

.config-panel__button-1 {
    padding-bottom: 3em;
    top: 30px !important;
    
    @media screen and (min-width: map-get($breakpoints, medium)){
        top: 30px !important;
    }
}

.config-panel__button-2 {
    left: 120px;
    top: 30px !important;

    @media screen and (min-width: map-get($breakpoints, medium)){
        top: 34px !important;
    }
}

.config-panel__button::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.config-panel__general,
.config-panel__teams {
    position: absolute;
    padding: 1em;
    padding-bottom: 4em;
    width: 90%;
    top: 147px;
    z-index: 2;
}

.config-panel__subtitle {
    margin-bottom: 1em;
}

[class*="config-panel__item-image"]{
    height: 70px;
}

.config-panel__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 90px;
    gap: 10px;
}

.config-panel__size-list {
    display: flex;
    gap: 1em;
}

.config-panel__create-player {
    position: relative;

    &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
    }
}

.config-panel__select-my-team {
    margin-bottom: 1em;
}

.config-panel__teams-item {
    display: flex;
    justify-content: space-between;
    margin-top: .5em;
    margin-bottom: .5em;
}

.config-panel__teams-button {
    font-size: 100%;
    line-height: 1.15;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: .7em .2em;
}

.config-panel__teams-title {
    width: 240px;
    display: block;
}

.config-panel__size-item {
    display: flex;
    flex-direction: column;

    &::after {
        content: '';
        background-repeat: no-repeat;
        padding: .5em;
        background-size: cover; 
    }
}

.config-panel__size-item.big::after {
    background-image: url('https://res.cloudinary.com/leonemil/image/upload/v1633438599/Handball%20manager/size-big_twrfei.png');
    width: 60px;
    height: 60px;
}

.config-panel__size-item.medium::after {
    background-image: url('https://res.cloudinary.com/leonemil/image/upload/v1633438599/Handball%20manager/size-medium_xjy7sq.png');
    width: 50px;
    height: 50px;
}

.config-panel__size-item.small::after {
    background-image: url('https://res.cloudinary.com/leonemil/image/upload/v1633438599/Handball%20manager/size-small_ek8bit.png');
    width: 40px;
    height: 40px;
}

.modal-content {
    position: relative;
    z-index: var(--z-menu);
}

.config-panel__edit {
    position: relative;
    min-height: 150vh;
}

.form-teams__container {
    position: relative;    
    margin-bottom: 1em;

    &::before {
        position: absolute;
        top: 22px;
        left: 10px;
    }
}

.form-teams__create-player {
    display: flex;
    flex-direction: column;
}

.form-teams__dropdown-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-teams__player {
    margin-bottom: 1em;
}

.form-teams__delete {
    position: absolute;
    right: 30px;
}

.form-teams__delete-player {
    width: 200px;
    align-self: end;
}

.form-teams__select {
    display: block
}

.form-teams__checkbox {
    position: static !important;
    opacity: 1 !important;
    pointer-events: auto !important;
}

.form-teams__input,
.form-teams__select,
.form-teams__checkbox,
.form-teams__add-player {
    margin-bottom: 1em;
    display: block;
}

.config-panel__loader-spinner {
    position: absolute;
    top: 50vh;
    left: 50vw;
    z-index: 100000
}

// ----------------------- Mail panel ------------------------- //@at-root

.mail__input {
    width: 100%;
}

.mail__input-textarea {
    height: 30%;
}

// ------------------------- User panel -------------------------------- //


.user-panel__container {
    display: flex;
    justify-content: space-between;
}

.user-panel__container button {
    width: min-content;
    height: min-content;
}

.user-panel__image-container {
    width: 50%;
}

.user-panel__image {
    width: 100%;
}

.user-panel__other-data-form {
    margin-bottom: 3em;
}

.user-panel__button {
    margin-top: .5em;
    margin-bottom: .5em;
}

// --------------------------- Video panel --------------------------------- //

.video {
    width: 100%;
    margin-top: 1em;
}
