$development: true;

:root {
    --z-initial: 1;
    --z-panels: 10;
    --z-menu: 100;
    --z-modal: 1000;
}

$breakpoints: (
    small: 576px,
    medium: 768px,
    large: 992px,
    xlarge: 1200px
);

    $config-button-1-active: 'https://res.cloudinary.com/leonemil/image/upload/v1604794710/Handball%20manager/config-button-1-active_x024rj.jpg';
    $config-button-1-inactive: 'https://res.cloudinary.com/leonemil/image/upload/v1604794710/Handball%20manager/config-button-1-inactive_anqohk.jpg';
    $config-button-2-active: 'https://res.cloudinary.com/leonemil/image/upload/v1604794710/Handball%20manager/config-button-2-active_esd015.jpg';
    $config-button-2-inactive: 'https://res.cloudinary.com/leonemil/image/upload/v1604794711/Handball%20manager/config-button-2-inactive_exyak9.jpg';
    
    $players-icon: 'https://cdn.onlinewebfonts.com/svg/img_573962.png';
    $gainberri-logo: 'https://res.cloudinary.com/leonemil/image/upload/v1602549582/Handball%20manager/Gainberri_logo_loxlgj.png';
    $hummel-banner: 'https://res.cloudinary.com/leonemil/image/upload/v1602684459/Handball%20manager/Hummel-Banner_umd1xd.png';
    $user-image: 'https://res.cloudinary.com/leonemil/image/upload/v1602549579/Handball%20manager/user-image_mvzyz8.jpg';

    $rename-icon: 'https://res.cloudinary.com/leonemil/image/upload/v1654820003/Handball%20manager/edit_v3m6id.png';
    $edit-icon: 'https://res.cloudinary.com/leonemil/image/upload/v1654820003/Handball%20manager/field_idoali.png';
    $delete-icon: 'https://res.cloudinary.com/leonemil/image/upload/v1654820003/Handball%20manager/delete_ql6l09.png';

    $draw-panel__item-lines: (
        'https://res.cloudinary.com/leonemil/image/upload/v1602549577/Handball%20manager/Linea_1_ieibki.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549577/Handball%20manager/Linea_2_kscmba.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549577/Handball%20manager/Linea_3_rplgfr.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549580/Handball%20manager/Linea_4_ntteco.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549577/Handball%20manager/Linea_5_jqxyfj.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549578/Handball%20manager/Linea_6_iimaoe.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549580/Handball%20manager/Linea_7_nhwt87.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549581/Handball%20manager/Linea_8_tsh0gr.png'
    );

    $objects: (
        'https://res.cloudinary.com/leonemil/image/upload/v1602549258/Handball%20manager/object-1_zdpvbe.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549253/Handball%20manager/object-2_fgf1ad.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549253/Handball%20manager/object-3_cylirh.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549253/Handball%20manager/object-4_djapcd.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549253/Handball%20manager/object-5_opvwj3.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549253/Handball%20manager/object-6_zzgsgp.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549257/Handball%20manager/object-7_sabsou.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549260/Handball%20manager/object-8_hlipsu.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549256/Handball%20manager/object-9_sw6ykk.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549257/Handball%20manager/object-10_tgblke.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549264/Handball%20manager/object-11_ykdcfy.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549267/Handball%20manager/object-12_l554hs.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549264/Handball%20manager/object-13_dbppsz.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549268/Handball%20manager/object-14_qyygcc.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549266/Handball%20manager/object-15_ninceu.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549266/Handball%20manager/object-16_x7mti0.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549510/Handball%20manager/Player-red-1_bmexdy.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549512/Handball%20manager/player-red-2_lpiwfe.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549512/Handball%20manager/player-red-3_suquyh.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549514/Handball%20manager/player-red-4_gqchxz.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549514/Handball%20manager/player-red-5_tbmqej.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549515/Handball%20manager/player-red-6_jurf2s.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549513/Handball%20manager/player-red-7_cz1i3f.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549508/Handball%20manager/player-red-8_tpk9am.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549252/Handball%20manager/object-17_g0zhrn.png',
    );

    $players-blue: (
        'https://res.cloudinary.com/leonemil/image/upload/v1602549511/Handball%20manager/player-blue-1_j6ofta.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549509/Handball%20manager/player-blue-2_v0q2iu.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549507/Handball%20manager/player-blue-3_fibk72.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549507/Handball%20manager/player-blue-4_xo9bse.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549511/Handball%20manager/player-blue-5_qsjpyh.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549507/Handball%20manager/player-blue-6_nvzx0g.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549509/Handball%20manager/player-blue-7_qwycfi.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549510/Handball%20manager/player-blue-8_y7w3kk.png',
    );

    $players-red: (
        'https://res.cloudinary.com/leonemil/image/upload/v1602549510/Handball%20manager/Player-red-1_bmexdy.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549512/Handball%20manager/player-red-2_lpiwfe.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549512/Handball%20manager/player-red-3_suquyh.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549514/Handball%20manager/player-red-4_gqchxz.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549514/Handball%20manager/player-red-5_tbmqej.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549515/Handball%20manager/player-red-6_jurf2s.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549513/Handball%20manager/player-red-7_cz1i3f.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549508/Handball%20manager/player-red-8_tpk9am.png',
    );

    $preview: (
        'https://res.cloudinary.com/leonemil/image/upload/v1602549538/Handball%20manager/preview-1_zjrdce.png',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549539/Handball%20manager/preview-2_ecdmqo.jpg',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549538/Handball%20manager/preview-3_iz3mq9.jpg',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549536/Handball%20manager/preview-4_yqagxi.jpg',
        'https://res.cloudinary.com/leonemil/image/upload/v1634421111/Handball%20manager/preview-7_qhmodb.jpg',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549537/Handball%20manager/preview-5_ylxkus.jpg',
        'https://res.cloudinary.com/leonemil/image/upload/v1602549538/Handball%20manager/preview-6_kym6wh.jpg',
        'https://res.cloudinary.com/leonemil/image/upload/v1634421111/Handball%20manager/preview-8_waezwf.jpg',
        'https://res.cloudinary.com/leonemil/image/upload/c_scale,q_60,w_300/v1633747718/Handball%20manager/blue-background-part_f0uz1a.jpg',
        'https://res.cloudinary.com/leonemil/image/upload/c_scale,q_60,w_300/v1633747718/Handball%20manager/green-background-part_bw6y5q.jpg',
    );

    $canvas-1: 'https://res.cloudinary.com/leonemil/image/upload/v1602549201/Handball%20manager/canvas-1_rbigwq.jpg';
    $canvas-2: 'https://res.cloudinary.com/leonemil/image/upload/v1602548589/Handball%20manager/canvas-2_ao97dx.jpg';
    $canvas-3: 'https://res.cloudinary.com/leonemil/image/upload/v1602548592/Handball%20manager/canvas-3_uowaon.jpg';

    // ----------------------- Icons ---------------------------- //@at-root

    $icon-save: 'https://res.cloudinary.com/leonemil/image/upload/v1606852836/Handball%20manager/guardar_ofqq1a.png';
    $icon-folder: 'https://res.cloudinary.com/leonemil/image/upload/v1606852836/Handball%20manager/estrategias_ap7vxp.png';
    $icon-edit: 'https://res.cloudinary.com/leonemil/image/upload/v1606852837/Handball%20manager/trazar_b6ajrt.png';
    $icon-refresh: 'https://res.cloudinary.com/leonemil/image/upload/v1606852836/Handball%20manager/limpiar_rpxrmo.png';
    $icon-undo: 'https://res.cloudinary.com/leonemil/image/upload/v1606852836/Handball%20manager/rehacer_tiifef.png';
    $icon-redo: 'https://res.cloudinary.com/leonemil/image/upload/v1606852836/Handball%20manager/deshacer_jb5zjf.png';
    $icon-star: 'https://res.cloudinary.com/leonemil/image/upload/v1606852836/Handball%20manager/entrenamientos_vzruxi.png';
    $icon-players: 'https://res.cloudinary.com/leonemil/image/upload/v1606852836/Handball%20manager/jugadores_yhlukb.png';
    $caret-down: 'https://res.cloudinary.com/leonemil/image/upload/v1629988288/Southteams/caret-down_gyiv5d.png';

// --------------------------- Colors ---------------------------- //

$blue-medium: #102132;
$blue-menu: #085e5f;
$hidden-menu-button: #aec81d;
$hidden-menu-button__icon: #075f60;

$draw-panel__color-selector: #384e77, #cc2916, #682477, #875a1f, #696566, #000000, #299035, #ebe22d, #ef841a, #bbbab8, #5e1914, #54bee6;

$item-hover: #d9e29f;

$config-panel__teams-tab: #d8e289;
$config-panel__more-tab: #eff1c9;