.hidden-menu__button,
.draw-panel__exit-item,
.draw-panel__item,
[class*="draw-panel__color-selector-option"] {
    cursor: pointer;
}

.strategy-panel__item:hover,
.draw-panel__item:hover {
    background-color: $item-hover;
}

.strategy-panel__item::after,
.draw-panel__item::after {
    bottom: -3px;
    background-color: #666;
}

@for $i from 1 to 9 {
    .draw-panel__item-image-#{$i} {
        background-image: url(nth($draw-panel__item-lines, $i));
    }
}

[class*="draw-panel__item-image"] {
    width: 120px;
    height: 30px;
    margin-right: 3em;
    background-repeat: no-repeat;
    background-size: contain;
}

[class*="draw-panel__color-selector-option-"]:hover{
    box-shadow: 0 0 0 5px white,
                0 0 3px 7px gray;
}